.mc_post-date,
.mc_post-title,
.mc_post-picture,
.mc_post-footer{
  text-align: center;
}

.mc_post-content-prev{
  text-align: justify;
}


.mc_post-date{
    font-size: 1rem;
    color: $global_md-text-color;
}


.mc_post-picture img{
  max-width: 100%;
}


.mc_post-readmore{
    background-color: $global_background-color;
    border: solid 2px $global_prim-color;
    height: 40px;
    width: 200px;
    cursor: pointer;
    &:hover{
        color: $global_md-text-color;
        border-color:$global_light-text-color;
    }
}
