.sidebar{
  font-size: 0.99rem;
  text-align: justify;
}

.sidebar_social ul{
    text-align: center;
    font-size: 1.4rem;
}

/* Shortcut :
* .sidebar-lastpost_post == .sb-lp_post
*/
.sidebar-lastpost_post, .sb-lp_post{

    width: 90%;
    margin: auto;

    border-bottom: solid 1px $global_border_color;
}
